h1 {
  background-color: #008080;
  margin-top: 0px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-family: "courier";
}
.button {
  background-color: #2E8B57;
  border: inset; 
  border-color: #2E8B57;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "courier";
}
h4 {
  text-align: center;
  background-color: #2F4F4F;
  border-style: double;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "courier";
}
p {
  background-color: #00664d;
  border-style: solid;
  border-width: medium;
  text-align: center;
  font-size: 13px;
  font-family: "courier";
}
#div3 {
  text-align: center;
  background-color: #ff0000;
  border-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "courier";
}
#demo1 {
  text-align: center;
  border-style: inset;

  margin-left: 15%;
  margin-right: 15%;
  background-color: #778899;
  font-family: "courier";
  font-size: 28px;
}
.wrapper {
  text-align: center;
  margin-bottom: 20px;
  font-family: "courier";
}
#qEingeben {
  text-align: center;
  margin-bottom: 20px;
  border-style: inset;
  border-width: 3px;
  font-size: 15px;
  font-family: "courier";
}
#fillIn {
  text-align: center;
  margin-bottom: 20px;
  font-family: "courier";
}
#cancelButton {
  background-color: #2E8B57;
  border: inset;
  border-color: #2E8B57;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "courier";
}
#max {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  background-color: #20B2AA;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  font-family: "courier";
}
#all {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  background-color: #20B2AA;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  font-family: "courier";
}
#attentionDiv {
  text-align: center;
  border-style: double;
  border-width: 3px;
  background-color: #20B2AA; 
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  font-family: "courier";
}
#attentionImage {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 30%;
  height: 30%;
}
#codeDiv {
  text-align: center;
}
#codePageButton {
  background-color: #B8860B;
  color: black;
  border-style: inset;
  border-color: #B8860B;
  color: black;
  padding: 3px 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin:4px 2px;
  cursor: pointer;
  font-family: "courier";
}
#iconImg {
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 0px;
  margin-top: 5px;
h1 {
  background-color: #008080;
  margin-top: 0px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-family: "courier";
}
.button {
  background-color: #2E8B57;
  border: inset; 
  border-color: #2E8B57;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "courier";
}
h4 {
  text-align: center;
  background-color: #2F4F4F;
  border-style: double;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "courier";
}
p {
  background-color: #696969;
  border-style: solid;
  border-width: medium;
  text-align: center;
  font-size: 13px;
  font-family: "courier";
}
#div3 {
  text-align: center;
  background-color: #ff0000;
  border-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "courier";
}
#demo1 {
  text-align: center;
  border-style: inset;

  margin-left: 15%;
  margin-right: 15%;
  background-color: #778899;
  font-family: "courier";
  font-size: 28px;
}
.wrapper {
  text-align: center;
  margin-bottom: 20px;
  font-family: "courier";
}
#qEingeben {
  text-align: center;
  margin-bottom: 20px;
  border-style: inset;
  border-width: 3px;
  font-size: 15px;
  font-family: "courier";
}
#fillIn {
  text-align: center;
  margin-bottom: 20px;
  font-family: "courier";
}
#cancelButton {
  background-color: #2E8B57;
  border: inset;
  border-color: #2E8B57;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "courier";
}
#max {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  background-color: #20B2AA;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  font-family: "courier";
}
#all {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  background-color: #20B2AA;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  font-family: "courier";
}
#attentionDiv {
  text-align: center;
  border-style: double;
  border-width: 3px;
  background-color: #20B2AA; 
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  font-family: "courier";
}
#attentionImage {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 30%;
  height: 30%;
}
#codeDiv {
  text-align: center;
}
#codePageButton {
  background-color: #B8860B;
  color: black;
  border-style: inset;
  border-color: #B8860B;
  color: black;
  padding: 3px 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin:4px 2px;
  cursor: pointer;
  font-family: "courier";
}
#iconImg {
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 0px;
  margin-top: 5px;
}